WindowsFormsApplication1/obj/Debug/JRPG.csproj.FileListAbsolute.txt
WindowsFormsApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
*.exe
*.suo
*.pdb
WindowsFormsApplication1/obj/Debug/JRPG.exe
*.suo